<section class="container" style="margin-bottom: 150px;">
  <div style="text-align: center">
    <h1>Log In</h1>
    <p>Please select a provider to log in with:</p>
    <%= link_to image_tag('btn-twitter-login.png'), "/auth/twitter" %>
    <%= link_to image_tag('btn-facebook-login.png'), "/auth/facebook" %>
  </div>
</section>