<section id="search-tag" class="clearfix">
  <input type="text" value="Search Emoticons With Tags Here" />
  <input type="button" value=""/>
  <ul>
    <li><a href="#">happy</a></li>
    <li><a href="#">cat</a></li>
    <li><a href="#">dog</a></li>
  </ul>
</section>

<section id="emoticon-display">
  <p>a very angry face</p>
  <h1>(╬ ಠ益ಠ)</h1>
  <input type="button" value="Copy to Clipboard" />
  <input type="button" value="Tweet" />
  <input type="button" value="Add to Favorites" />
  
  <br />
  
  <input type="text" value="Add a New Tag to this Emoticon" />
  <input type="button" value="" class="add"/>
  <ul>
    <li><a href="#">happy</a></li>
    <li><a href="#">cat</a></li>
    <li><a href="#">dog</a></li>
  </ul>
</section>

<!--
<section id="emoticon-list-navigation">
  <p>800</p>
  <p>recent</p>
</section>
-->

<section id="emoticon-list">
  <ul>
    <li>
      <a href="/emotes/198" class="width-1">=P</a>
    </li>
    <li>
      <a href="/emotes/198" class="width-1">=P</a>
    </li>
    <li>
      <a href="/emotes/198" class="width-1">=P</a>
    </li>
    <li>
      <a href="/emotes/198" class="width-1">=P</a>
    </li>
    <li>
      <a href="/emotes/198" class="width-1">=P</a>
    </li>
    <li>
      <a href="/emotes/198" class="width-1">=P</a>
    </li>
  </ul>
    <!--
    <div class="emote grid_8">
      <p id="emote-192" class="emoticon">お(^o^)や(^O^)す(^｡^)みぃ(^-^)ﾉﾞ</p>
      <a href="/emotes/192" class="width-1">お(^o^)や(^O^)す(^｡^)みぃ(^-^)ﾉﾞ</a>
      <div class="copy-succesful" style="display: none;">Copied to Clipboard</div>
    </div>
    <div class="emote grid_12">
      <p id="emote-195" class="emoticon">( ﾟ∀ﾟ)ｱﾊﾊ八八ﾉヽﾉヽﾉヽﾉ ＼ / ＼/ ＼</p>
      <a href="/emotes/195" class="width-1">( ﾟ∀ﾟ)ｱﾊﾊ八八ﾉヽﾉヽﾉヽﾉ ＼ / ＼/ ＼</a>
      <div class="copy-succesful" style="display: none;">Copied to Clipboard</div>
    </div>
    -->
</section>