<section class="container" style="margin-bottom: 30px;">
<div id="temporary-profile">
  <table>
    <tbody>
      <% current_user.accounts.each do |account| %>
        <tr>
          <td><%= image_tag account.image %></td>
          <td class="info">
            User: <%= account.nickname %><br />
            Provider: <%= account.provider %><br />
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</section>