<style>
  .css1 { font-size: 1.0em; }
  .css2 { font-size: 1.2em; }
  .css3 { font-size: 1.4em; }
  .css4 { font-size: 1.6em; }
</style>
<section id="tag-cloud" class="container" style="margin-bottom: 30px; text-align: center; line-height: 24px; font-size: 13px;">
  <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to tag.name, '#', :id => tag.name, :class => css_class %>&nbsp;&nbsp;&nbsp;
  <% end %>
</section>