/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require_self
 *= require jquery-ui.css
 *= require_tree . 
*/

/*******************************************************************
 * Site Wide Generic Styles
 *******************************************************************/



/*********************
 * Z-Index Notes
 *
 *
 *
 *********************/



@import url(http://fonts.googleapis.com/css?family=Lato&text=emotejiji);

/* new clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body { 
  padding-top: 104px;
  font: 12px "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  color: #5C5C5C;
  background: #FFFFFF;
}

a { text-decoration: none; color: #5C5C5C; cursor: pointer; }
a:visited { color: #5C5C5C; }
a:hover { color: #66C2FF; text-decoration: none; }
a.no-link { color: #5C5C5C; cursor: default !important; }
a.inactive { color: #CCC; cursor: default; }

ul { list-style: none; margin: 0; padding: 0; }
label { cursor: default; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 630px;
  clear: both;
}
.container-no-pad { width: 640px !important; }
.relative { position: relative; }

.hud {
  position: fixed;
  width: 100%;
  z-index: 10;
}
#header-hud { top: 0px; }
#list-info-actions-hud { top: 35px; background: #FFF; }

/*******************************************************************
 * Header Styles
 *******************************************************************/
#header-hud .container { z-index: 20; }

header {
  margin-top: 3px;
  height: 35px;
}

.header-bg {
  height: 35px;
  width: 100%;
  background: #F0F0F0;
  border-top: 3px solid #4BC5C5;
  position: absolute;
  top: 0;
}

#logo {
  height: 35px;
  display: block;
  position: absolute;
  top: -3px; left: 0;
  width: 190px;
  border-top: 3px solid #FF9900;
}

#logo:hover { color: #5C5C5C; }

#logo h2, #logo h3, #logo h4 {
 font-weight: normal;
 margin: 0;
 position: absolute;
}

#logo h2 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 28px;
  letter-spacing: -1px;
  top: 3px;
  left: 0;
  font-size: 20px;
}

#logo h3 {
  background: #EB8014;
  color: #FFF;
  padding: 2px 7px 2px 7px;
  font-size: 14px;
  top: 4px;
  left: 70px;
}

#logo h4 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #BBB;
  margin: 0;
  top: 3px;
  left: 147px;
}

nav.global ul {
  float: right;
  height: 35px;
}

nav.global ul li {
  float: left;
}

nav.global ul li a {
  font-size: 11px;
  display: block;
  height: 35px;
  line-height: 35px;
  padding: 0 5px; }

/*******************************************************************
 * Header Styles
 *******************************************************************/
 
footer {
  margin-top: 30px !important;
  color: #CCC;
  text-align: right;
}

/**********
 * General Form Styles
 ***********/
input[type=text].square {
  height: 28px;
  padding: 0px 8px;
  border: none;
  background: #F6F6F6;
  color: #CCCCCC;
  text-align: center;
}

ul.tags { 
  margin-top: 5px; 
  margin-bottom: 5px;
  text-align: center;
}
ul.tags li { display: inline; position: relative; margin: 0 5px; }
ul.tags a {
  font-size: 11px;
  background: #66C2FF; 
  padding: 1px 9px 2px 5px;
  margin: 0 5px;
  color: #FFF;
}
ul.tags a:before {
  content: "";
  float: left;
  position: absolute;
  top: -1px;
  left: -4px;
  width: 0;
  height: 0;
  border-color: transparent #66C2FF transparent transparent;
  border-style: solid;
  border-width: 9px 9px 9px 0;
}
ul.tags a:hover { color: #FFFFFF; background: #990000;}
ul.tags a:hover:before { border-color: transparent #990000 transparent transparent; }
ul.tags a.no-link:hover { color: #FFFFFF; background: #66C2FF;}
ul.tags a.no-link:hover:before { border-color: transparent #66C2FF transparent transparent; }

input.button {
  background: #F6F6F6;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  color: #5C5C5C;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
}

/**********
 * Tag Search Styles
 ***********/
#search-tag { 
  margin-top: 10px; 
  margin-bottom: 10px;
  height: 49px;
  text-align: center;
  top: 35px;
}
input#search {
  width: 300px;
  text-align: center;
  margin-bottom: 1px;
  background-image: url('/assets/icon-search-small.png');
  background-repeat: no-repeat;
  background-position: 7px 6px;
}


/**********
 * Emoticon List Styles
 ***********/
#emoticon-list li {
  float: left;
}

#emoticon-list article {
  background: #F5F5F5;
  margin: 0 5px 10px 5px;
}

#emoticon-list a {
  line-height: 90px;
  height: 90px;
  display: block;
  text-align: center;
  font-size: 20px;
}
#emoticon-list a:hover { color: #5C5C5C; }

#emoticon-list article.width-1 { width: 150px; }
#emoticon-list article.width-2 { width: 310px; }
#emoticon-list article.width-3 { width: 470px; }

#emoticon-list aside {
  display: none;
}

/**********
 * Emoticon Sort Selector Styles
 ***********/
#emoticon-list-navigation {
  overflow: hidden;
  margin-bottom: 2px;
}
 
#sort-list {
  float: right;
  text-align: right;
  position: absolute;
  top: 0px;
  right: 5px;
}

#sort-list li {
  float: left;
  list-style: none;
  background: #FFFFFF;
  margin: 0;
  padding: 0 20px;
  position: relative;
}

#sort-list li.inactive {
  position: absolute;
  z-index: 0;
  right: -1px; /* Firefox CSS rendering fix */
}

#sort-list li.active {  z-index: 3; }

#emoticon-list-navigation div.cover { 
  position: absolute;
  top: 0px;
  right: 0px;
  width: 5px;
  height: 15px;
  background: #FFFFFF;
  z-index: 3;
}

/**********
 * Results Info Styles
 ***********/
.results-info {
  color: #CCCCCC;
  margin-left: 10px;
}

/**********
 * Emoticon Display Styles
 ***********/
#emoticon-display {
  display: none;
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
}

#selected-note {
  margin: 0;
  color: #CCC;
  font-family: Times;
  font-style: italic;
}

h1#selected-emoticon {
  margin: 2px 0 15px 0;
  height: 51px; 
  line-height: 51px;
  font-size: 40px;
}

#add_tags {
  position: relative;
  left: -3px;
  margin-top: 5px;
  width: 294px;
  background-image: url('/assets/icon-add-tag.png');
  background-repeat: no-repeat;
  background-position: 8px 6px;
}

#emoticon-display input {
  margin-right: 5px;
}
#emoticon-display input.button {
  width: 150px;
}

#tag-list a { background-color: #EBB667; }
#tag-list a:before { border-color: transparent #EBB667 transparent transparent; }

/*******************************************************************
 * New Emoticon
 *******************************************************************/
#new-emote { margin-top: 50px; }
#new-emote label { color: #999; }
#new-emote input[type=text] { text-align: center; width: 100%; }

/* Left Column Styles */
#new-emote .col-left { width: 50%; padding-right: 15%; float: left; }
#new-emote .col-left .field { margin-bottom: 20px; }
#new-emote .col-left label { margin-left: 10px; }
#new-emote .col-left input[type=text] { margin-top: 5px; }

/* Right Column Styles */
#new-emote .col-right { text-align: right; float: left; width: 35%; }
#new-emote .col-right label { margin-right: 10px; }

#new_emote_tags_input {
  width: 100%;  
  margin: 0; padding: 0; 
  position: absolute; left: -1px; top: -1px;
}
#new-emote .tag-background {
  padding-top: 34px;
  width: 100%;
  background: #EEE;
  text-align: center;
  min-height: 66px;
  margin-top: 5px;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  position: relative;
}
#new-emote .tag-background span {
  color: #CCC;
  position: relative;
  top: 24px;
}
#new-emote input[type='submit'] {
  margin-top: 20px;
  width: 100%;
  background-color: #EB8014;
  color: #FFF;
  border: none;
}

/**********
 * Tag Cloud
 ***********/
#tag-cloud {
  text-align: center; 
  line-height: 28px; 
  font-size: 13px; 
  border: 5px solid #F0F0F0; 
  padding: 13px 18px; 
  border-radius: 10px; 
  background: #FFF; 
  position: absolute; 
  top: -0px; 
  left: -23px;
  z-index: 5;
  display: none;
}

#tag-cloud a { margin: 0 2px; padding: 1px 4px 2px 4px; display: none; }
#tag-cloud a:hover { color: #FFF; background: #66C2FF; }
#tag-cloud a.active { display: inline; }
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
.css5 { font-size: 1.8em; }
.css6 { font-size: 2.0em; }
.css7 { font-size: 2.2em; }
.css8 { font-size: 2.4em; }
.css9 { font-size: 2.6em; }
.css10 { font-size: 2.8em; }

#tag-cloud p { display: none; }

/**********
 * Misc Display Styles
 ***********/
#loading {
  display: none;
  position: absolute;
  left: -6px;
  top: 0;
}

#temporary-profile {
  margin: 30px auto 0 auto;
  width: 250px;
  background: whiteSmoke;
  padding: 7px 10px; 
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#temporary-profile img {
    border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#temporary-profile .info {
  vertical-align: middle; padding-left: 8px;
}