/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require_self
 *= require jquery-ui.css
 *= require_tree . 
*/
@import url(http://fonts.googleapis.com/css?family=Lato&text=emotejiji);

/* new clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body { 
  font:  12px 'lucida grande', tahoma, verdana, arial, sans-serif;
  color: #5C5C5C;
  background: #E8E8E8;
}

a {
  text-decoration: none;
  color: #999;
}
a:visited { color: #999; }

header {
  position: relative;
  height: 35px;
  width: 250px;
  margin: 3px auto 0 auto;
}

header h2, header h3, header h4 {
 font-weight: normal;
 margin: 0;
 position: absolute;
}

header h2 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 28px;
  letter-spacing: -1px;
  top: 0;
  left: 0;
}

header h3 {
  background: #EB8014;
  color: #FFF;
  padding: 2px 7px 2px 7px;
  font-size: 18px;
  top: 3px;
  left: 102px;
}

header h4 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: #BBB;
  margin: 0;
  top: 4px;
  left: 195px;
}

nav { width: 630px; margin: auto; }

nav.global ul { text-align: center; margin: 20px 0 0 0; }
nav.global li { display: inline; margin: 0 20px; }
nav a { color: #5C5C5C; }
nav a:hover { color: #5C5C5C; text-decoration: underline; }
nav a.inactive { color: #CCC; cursor: default; }
nav a.inactive:hover { color: #CCC; cursor: default; text-decoration: none; }

input.rounded {
  height: 29px;
  padding: 0px 8px;
  font-size: 12px;
  color: #999;
  border: solid 1px #CECFD1;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

/* http://cssglobe.com/post/9435/pure-css3-post-tags */
#search-tag { width: 630px; margin: 3px auto 0 auto; text-align: center; }
#search-tag input[type=text],
#emoticon-display input[type=text] {
  width: 280px;
}
#emoticon-display input[type=text] { width: 360px; }

#search-tag input[type=button],
#emoticon-display input[type=submit],
#emoticon-display input[type=button] {
  min-width: 54px;
  height: 31px;
  margin: 11px 0px 0px 6px;
  padding: 0 8px;
  position: relative;
  top: -1px;
  left: -3px;
  color: #999;
  background: url(/assets/icon-search.png) center no-repeat whiteSmoke;
  /*background-image: -webkit-gradient(linear,left top,left bottom,from(whiteSmoke),to(#F1F1F1));
  background-image: -webkit-linear-gradient(top,whiteSmoke,#F1F1F1);
  background-color: whiteSmoke;
  background-image: linear-gradient(top,whiteSmoke,#F1F1F1);
  background-image: -o-linear-gradient(top,whiteSmoke,#F1F1F1);*/
  border: 1px solid #CECFD1;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-user-select: none;
  -moz-border-radius: 3px;
  line-height: 27px;
  cursor: pointer;
}

#emoticon-display input[type=submit],
#emoticon-display input[type=button] {
  height: 22px;
  line-height: 22px;
  font-size: 11px;
  margin: 11px 0px 0px 3px;
  padding: 0 25px;
  background-image: none;
}

#emoticon-display input[type=submit].btn-add-tag {
  min-width: 54px;
  height: 31px;
  margin: 11px 0px 0px 6px;
  padding: 0 8px;
  background: url(/assets/icon-add.png) center no-repeat whiteSmoke;
}

#search-tag ul,
#emoticon-display ul { 
  list-style: none; 
  width: 366px; 
  margin: 5px auto 0 auto; 
  padding: 0;
  position: relative;
  left: -8px; }
#search-tag li,
#search-tag a,
#emoticon-display li,
#emoticon-display a {
  float:left;
  height:17px;
  line-height: 17px;
  position:relative;
  font-size:10px;
}
#search-tag li, #emoticon-display li { margin-bottom: 7px; }
#search-tag a,
#emoticon-display a {
  margin-left: 20px;
  padding: 0 10px 0 9px;
  background: #FFFCF2;
  text-decoration: none;
}
#search-tag a:before, 
#emoticon-display a:before {
  content: "";
  float: left;
  position: absolute;
  top: 0px;
  left: -9px;
  width: 0;
  height: 0;
  border-color: transparent #FFFCF2 transparent transparent;
  border-style: solid;
  border-width: 9px 9px 9px 0;
}
#search-tag a:hover, #emoticon-display a:hover { background: #FFBAC0;}
#search-tag a:hover:before,
#emoticon-display a:hover:before { 
  border-color: transparent #FFBAC0 transparent transparent; 
}

#emoticon-display { 
  width: 630px;
  margin: 10px auto;
  text-align: center;
}
#emoticon-display h1 { 
  font-size: 34px; 
  font-weight: normal;
  margin: 0;
}
#emoticon-display p {
  margin: 0;
}

#emoticon-list-navigation {
  margin: auto;
  width: 640px;
  clear: both;
  position: relative;
  overflow: hidden;
}

#loading {
  position: absolute;
  left: 115px;
  top: 5px;
  display: none;
}

/*
#emoticon-list,
#add-emoticon-section {
  margin: auto;
  width: 640px;
  clear: both;
}*/


section, footer {
  margin: auto;
  width: 640px;
  clear: both;
}

footer {
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: right;
}

#add-emoticon-section { text-align: center; margin-top: 30px; }
#add-emoticon-section input { text-align: center; }
#add-emoticon-tagline { width: 300px; }


#emoticon-list ul {
  margin: 8px 0 0 0;
  list-style: none;
  padding: 0;
}

#emoticon-list li {
  float: left;
}

#emoticon-list article {
  background: #F5F5F5;
  line-height: 90px;
  height: 90px;
  margin: 5px;
  display: block;
  text-align: center;
  font-size: 20px;
}

#emoticon-list article.width-1 {
  width: 150px;
}


#emoticon-list aside {
  display: none;
}

#results-counter {
  padding: 6px 10px 7px 10px;
  color: #666;
  background: #CCC;
  font-size: 12px;
  line-height: 12px;
  display: block;
  float: left;
  position: relative;
  top: -5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

currently-displaying {
  font-size: 12px;
  line-height: 12px;
  padding: 5px 10px;
}

#emoticon-list-navigation .results-info {
  background: whiteSmoke;
  padding: 5px 0;
  margin-left: 5px;
  width: 100px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#current-display {
  text-align: center;
  width: 100%;
  display: block;
}

#sort-list {
  float: right;
  text-align: right;
  position: absolute;
  top: 6px;
  right: 0px;
}

#sort-list li {
  float: left;
  list-style: none;
  background: #E8E8E8;
  margin: 0;
  padding: 0 20px;
  position: relative;
}

#sort-list li.inactive {
  position: absolute;
  z-index: 0;
  right: -1px; /* Firefox CSS rendering fix */
}

#sort-list li.active {  z-index: 10; }